{
  "Name": "rpt_global_var",
  "ClassName": "org.qbroker.monitor.StaticReport",
  "Category": "STATIC",
  "Type": "StaticReport",
  "Site": "DEVOPS",
  "Description": "define a set of globals",
  "Step": "1",
  "ReportName": "GlobalProperties",
  "ReportClass": "org.qbroker.flow.QFlow",
  "StringProperty": {
    "HOSTNAME": "##HOSTNAME##",
    "hostname": "##hostname##",
    "LOG_DIR": "{{log_dir}}",
    "LOG_FILE": "{{log_file}}",
    "ES_URL": "{{es_url}}",
    "Template": "${hostname} ${HOSTNAME} ${ES_URL} ${LOG_FILE} ${LOG_DIR}"
  }
}

